.game_board {
  width: 1200px;
  height: 720px;
  background: url("assets/gb_1.jpg");
  background-size: cover;
}
.end_turn {
  width: 100px;
  height: 40px;
  background: yellow;
  position: absolute;
  top: 315px;
  left: 985px;
  text-align:center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}

/* hero B  */
.hero_B {
  width: 140px;
  height: 155px;
  background: url("assets/hant.png");
  background-size: cover;
  position: absolute;
  top: 60px;
  left: 570px;
  text-align:center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}
.hero_B_hp {
  width: 30px;
  height: 30px;
  background: yellow;
  position: absolute;
  top: 180px;
  left: 680px;
  text-align:center;
  vertical-align: middle;
  line-height: 30px;
}
.power_B {
  width: 120px;
  height: 100px;
  background: url("assets/hant_p.png");
  background-size: cover;
  position: absolute;
  top: 100px;
  left: 720px;
  text-align:center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}
.mana_B {
  width: 30px;
  height: 30px;
  background: yellow;
  position: absolute;
  top: 40px;
  left: 800px;
  text-align:center;
  vertical-align: middle;
  line-height: 30px;
}
.deck_B {
  width: 30px;
  height: 30px;
  background: yellow;
  position: absolute;
  top: 240px;
  left: 1120px;
  text-align:center;
  vertical-align: middle;
  line-height: 30px;
}
/* hero A  */
.hero_A {
  width: 140px;
  height: 155px;
  background: url("assets/mag.png");
  background-size: cover;
  position: absolute;
  top: 470px;
  left: 570px;
  text-align:center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}
.hero_A_hp {
  width: 30px;
  height: 30px;
  background: yellow;
  position: absolute;
  top: 590px;
  left: 680px;
  text-align:center;
  vertical-align: middle;
  line-height: 30px;
}
.power_A {
  width: 120px;
  height: 100px;
  background: url("assets/mag_p.png");
  background-size: cover;
  position: absolute;
  top: 500px;
  left: 720px;
  text-align:center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}
.mana_A {
  width: 30px;
  height: 30px;
  background: yellow;
  position: absolute;
  top: 655px;
  left: 825px;
  text-align:center;
  vertical-align: middle;
  line-height: 30px;
}
.deck_A {
  width: 30px;
  height: 30px;
  background: yellow;
  position: absolute;
  top: 400px;
  left: 1120px;
  text-align:center;
  vertical-align: middle;
  line-height: 30px;
}
